
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/layer.js"></script>
    <style>
        body {
            height:100%;
            background-color:#DADADA;
        }
        form {
            background-color:white;
        }
        .inputClass {
            background-color:ivory;
            height: 40px;
        }
        .form-group {
            padding:5px 10px;
            margin-bottom:0px;
            font-size:16px;
        }
        .btn-primary {
            height: 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="" style="margin:200px auto; width:450px;height:300px;padding:14px;">
            <h2 class="text-center text-success"><strong>国信数道数据同步系统</strong></h2>
            <form style="padding: 1em 1em;">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control inputClass" id="userid" placeholder="请输入登录名" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control inputClass" id="password" placeholder="请输入密码" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary" onclick="submit1()" >登录</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function submit1()
        {
            $.ajax({
                type: 'post',
                url: '/Login/checkLogin',
                data: { userid: $("#userid").val(), password: $("#password").val() },
                dataType: 'json',
                async: true,
                success: function (data) {
                    if (data.message == "") {
                        location.href = "/User/Index";
                    }
                    else {
                        layer.msg("错误信息：" + result.message);
                    }
                }
            });
        }
    </script>
</body>
</html>
